<!DOCTYPE html>
<html>
    <head>
        <title>Assign2</title>
        <!-- link of css from bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- links of java script from bootstrap-->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <!-- link for an icon from font awesome. -->
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
         <!-- My personal css codes -->
        <link rel="stylesheet" href="css/style34.css">
    </head>


    <body>

        <div class="page">
        
                <div id="invoice-div" class="glow">
                    <h1 id="invoice" >Invoice</h1>
                </div>
                <div>
                    <!-- used an icon from font awesome  -->
                    <span><i class="fas fa-chevron-circle-up" style="font-size: 35px;position:relative;left:50px; bottom: 75px;"></i> 
                    </span>
                    <span>
                        <h2 style="position: relative; left: 100px;bottom:130px ;">Interactive Cares</h2>
                        <p style="position: relative; left: 100px;bottom:130px">We have everything for your career.</p>
                    </span>
                </div>

                <div>
                    <span style="float:left ;">
                        <p style="position: relative; left: 50px;bottom: 90px;">
                            <b>  
                                Invoice to: &nbsp; Abdullah Ishraq Rafi.
                                <address style="position: relative; left: 140px;bottom: 100px;"> Jurain, Dhaka-1204</address>
                            </b>
                        </p>
                    </span>

                    <span style="position: relative; bottom: 90px;left: 304px;">
                        <table>
                            <tr>
                                <th>Invoice# &nbsp; &nbsp; </th> 
                                <th>12345</th>
                            </tr>
                            <tr>
                                <th>Date:  &nbsp; &nbsp;</th>
                                <th>7/3/2021</th>
                            </tr>
                            
                        </table>
                    </span>
                        <table class="table table-bordered" style="position:relative;bottom: 50px;">
                            <thead class="thead-dark">
                                <tr>
                                    <th>SL no.</th>
                                    <th>Item</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
              
                            <tr>
                                <td class="table-active">1.</td>
                                <td class="table-active">HTML course</td>           
                                <td class="table-danger">$300.00</td>
                            </tr>
            
                            <tr>
                                <td class="table-active">2.</td>
                                <td class="table-active">CSS course</td>
                                <td class="table-danger">$115.00</td>
                            </tr>
            
                            <tr>
                                <td class="table-active">3.</td>
                                <td class="table-active">Bootstrap course</td>
                                <td class="table-danger">$100.00</td>
                            </tr>

                            <tr>
                                <td class="table-active">4.</td>
                                <td class="table-active">Java-script course</td>
                                <td class="table-danger">$200.00</td>
                            </tr>

                            <tr>
                                <td class="table-active">6.</td>
                                <td class="table-active">Python course</td>
                                <td class="table-danger">$250.00</td>
                            </tr>
                        </table>

                        <table style="position: relative;left: 475px;bottom: 40px;">
                            <tr class="total">
                                <td style="font-size: 18px;">Sub Total: &nbsp; &nbsp; &nbsp; &nbsp; </td> 
                                <td style="font-size: 20px;">$965</td>
                            </tr>

                            <tr class="total">
                                <td style="font-size: 18px;">Tax (%):&nbsp; &nbsp; &nbsp; &nbsp;</td>
                                <td style="font-size: 20px;">0%</td>
                            </tr>

                            <tr class="total">
                                <td style="font-size: 18px;text-decoration: overline;color: rgb(21, 95, 214);font-size: 25px;">Total:&nbsp; &nbsp; &nbsp; &nbsp;</td> 
                                <td style="font-size: 20px;text-decoration: overline;color: rgb(21, 95, 214);font-size: 25px;">$965</td>          
                               
                            </tr>
                        </table>
                        <div>
                            <p style="position:relative;left:60px;bottom:120px;font-size: 22px;color:indigo;">Thanks for your business.</p>
                        </div>
                        <!-- ending part ..payment info conditions and signatures. -->
                        <table style="position: relative;bottom:65px;left:60px;">
                            <tr>
                                <th style="font-size: 20px;">Payment info:</th>
                            </tr>
                            <tr>
                                <td style="font-size:15px;">Account id:</td>
                                <td style="font-size:15px;position:relative;right:30px;">1234 4567 7890 0123</td>
                            </tr>
                            <tr>
                                <td style="font-size:15px;">Place holder: </td>
                                <td style="font-size:15px;position:relative;right:30px;"> Abdullah Ishraq Rafi</td>
                            </tr>
                        </table>
                        
                        <h3 style="font-size:20px;position:relative;left:60px;text-decoration:overline;">Terms & Condition</h3>
                        <p id="para1">Our services are in better position in this country, Bangladesh. You will be able to learn about your desired web development tools and will be able to start your own journey as a renowned web developer.We don't have any term and condition for now.</p>
                        <h4 style="text-decoration: overline;position: relative;left: 550px;bottom:30px;">Chairperson's Sign</h4>                          
                </div>
        </div>
    </body>  
</html>